<section id="target" class="mb-5 contacts">
    <div class="container">
        <div class="bg-effect">
            <div class="row justify-content-between align-items-end">
                <div class="col-12 mb-5 mb-xl-0 col-xl-6">
                    <h1 class="text-white">
                        Запись <br/>
                        на приём
                    </h1>
                    <p class="f-25 text-white w-75 mt-4">
                        После отправки формы
                        с вами свяжется наш специалист и подтвердит запись
                    </p>
                </div>
                <div class="col-12 mb-5 mb-xl-0 col-xl-4">
                    <div class="card">
                        <div class="card-body">
                            <form method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="name">Имя</label>
                                    <input id="name" type="text" class="form-control" placeholder="Введите Имя">
                                </div>
                                <div class="form-group">
                                    <label for="phone">Телефон</label>
                                    <input id="phone" type="tel" class="form-control" placeholder="Введите Телефон" required>
                                </div>
                                <div class="form-group">
                                    <label for="text">Текст</label>
                                    <input id='text' type="text" class="form-control" placeholder="Введите текст">
                                </div>
                                <div class="form-group mt-4 pt-3">
                                    <button type="submit" class="btn btn-success btn-block">
                                        Записаться на приём
                                    </button>
                                </div>
                                <p class="small text-center">
                                    Отправляя данные, вы даёте согласие
                                    на
                                    <a href="#" class="text-success">обработку ваших персональных данных</a>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="map">
    <div class="container">
        <div class="bg-effect">
            <div class="row justify-content-between align-items-end">
                <div class="mb-4 mb-xl-0 col-12 col-xl-4"></div>
                <div class="mb-4 mb-xl-0 col-12 col-xl-4">
                    <div class="">
                        <div class="card">
                            <div class="card-body">
                                <div class="small mb-3">Адрес</div>
                                <p class="mb-4">
                                    Ташкент, Яккасарайский район, улица Бабура 40 В
                                </p>
                                <div class="small mb-3">Часы работы</div>
                                <div>
                                   <strong>Пн.–Пт.</strong> с 9:00 до 17:00
                                </div>
                                <div>
                                   <strong>Сб.</strong> с 9:00 до 14:00
                                </div>
                                <div class="mb-4">
                                   <strong>Вс.</strong> — выходной
                                </div>
                                <div class="small mb-3">Телефон</div>
                                <div class="d-flex">
                                    <img class="mr-2" src="images/icons/phone.svg" alt="" />
                                    <a href="tel:+998998404536" class="text-body">(+998 99) 840-45-36</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>