<!DOCTYPE HTML>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Что получают клиенты «Радуги звуков»</title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/cssmain.css' %}" rel="stylesheet">
    <style>
        html { scroll-behavior: smooth; }
        .active .nav-link {
            color: rgb(0 0 0 / 40%) !important;
        }
        .mo-nav-modal{
            opacity: 0;
        }
        .mo-modal-visible.mo-nav-modal {
            opacity: 1;
        }
    </style>
</head>
<body>
<!--Header responsive-->
<header class="bg-white">
    <div class="container">
        <div class="border-bottom py-4 px-3">
            <div class="row align-items-center">
                <div class="mb-3 mb-lg-0 col-12 col-sm-12 col-md-12 col-lg-3">
                    <a href="{% url 'index' %}" class="navbar-brand">
                        <img src="{% static 'images/logo.svg' %}" alt="">
                    </a>
                </div>
                <div class="mb-3 mb-lg-0 col-12 col-sm-12 col-md-12 col-lg-3">
                    <ul class="nav justify-content-center">
                        <li class="mr-2 nav-item">
                            <a href="https://www.facebook.com/radugazvukovuz/?ref=page_internal">
                                <img src="{% static 'images/facebook.png' %}" width="24" height="24" alt="">
                            </a>
                        </li>
                        <li class="mr-2 nav-item">
                            <a href="https://www.instagram.com/radugazvukovuz/">
                                <img src="{% static 'images/instagram.png' %}" width="24" height="24" alt="">
                            </a>
                        </li>
                        <li class="mr-2 nav-item">
                            <a href="https://t.me/radugazvukovuz">
                                <img src="{% static 'images/Telegram.svg' %}" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-6 col-lg-3 text-left text-lg-center">
                    <div class="d-flex">
                        <img class="mr-2" src="{% static 'images/icons/phone.svg' %}" alt=""/>
                        <a href="tel:+998998404536" class="text-body">
                            <strong>
                                (+998 99) 840-45-36
                            </strong>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-lg-3 text-right text-lg-right">
                    <button type="submit" class="btn btn-outline-dark" data-toggle="modal" data-target="#modalCall">
                        Мы вам перезвоним!
                    </button>

                </div>
            </div>
        </div>
    </div>
</header>
<nav class="bg-white">
    <div class="container">
        <div class="px-0 navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto w-100 justify-content-around">
                    <li class="nav-item {% if request.path == '/' %}active{% else %}{% endif %} mr-0 mr-lg-3 mr-xl-5">
                        <a href="{% url 'index' %}" class="nav-link">О нас</a>
                    </li>
                    <li class="nav-item mr-0 mr-lg-3 mr-xl-5">
                        <button type="button" data-toggle="modal" data-target="#aboutUsModal"
                                class="nav-link btn-unstyled">Каталог
                        </button>
                    </li>
                    <li class="nav-item {% if request.path == '/service/' %}active{% else %}{% endif %} mr-0 mr-lg-3 mr-xl-5">
                        <a href="{% url 'service' %}" class="nav-link">Услуги</a>
                    </li>

                    <li class="nav-item {% if request.path == '/center/' %}active{% else %}{% endif %} ">
                        <a href="{% url 'center' %}" class="nav-link">Наш центр</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="aboutUsModal_1" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content p-5">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <a href="#" style="cursor: pointer !important;" class="text-info mb-4 font-weight-bold">Слуховые аппараты111111</a>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">Исток-Аудио</a>
                                </li>
                                <li>
                                    <a href="#">Phonak</a>
                                </li>
                                <li>
                                    <a href="#">Заушные</a>
                                </li>
                                <li>
                                    <a href="#">Недорогие</a>
                                </li>
                                <li>
                                    <a href="#">Аналоговые</a>
                                </li>
                                <li>
                                    <a href="#">Цифровые</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <p class="text-info mb-4 font-weight-bold">
                                Аксессуары
                            </p>
                            <ul class="list-unstyled">
                                <li><a href="#">Батарейки</a></li>
                                <li><a href="#">Вкладыши</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mo-nav-modal">
        <div class="row">
            <div class="col-6">
                <p class="text-info mb-4 font-weight-bold">Слуховые аппараты</p>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Исток-Аудио</a>
                    </li>
                    <li>
                        <a href="#">Phonak</a>
                    </li>
                    <li>
                        <a href="#">Заушные</a>
                    </li>
                    <li>
                        <a href="#">Недорогие</a>
                    </li>
                    <li>
                        <a href="#">Аналоговые</a>
                    </li>
                    <li>
                        <a href="#">Цифровые</a>
                    </li>
                </ul>
            </div>
            <div class="col-6">
                <p class="text-info mb-4 font-weight-bold">
                    Аксессуары
                </p>
                <ul class="list-unstyled">
                    <li><a href="#">Батарейки</a></li>
                    <li><a href="#">Вкладыши</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="aboutUsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content p-5">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <p href="" class="text-info mb-4 font-weight-bold">Слуховые аппараты</>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{% url 'catalog-istok' %}">Исток-Аудио</a>
                                </li>
                                <li>
                                    <a href="{% url 'catalog-phonak' %}">Phonak</a>
                                </li>
                                <li>
                                    <a href="#">Заушные</a>
                                </li>
                                <li>
                                    <a href="#">Недорогие</a>
                                </li>
                                <li>
                                    <a href="#">Аналоговые</a>
                                </li>
                                <li>
                                    <a href="#">Цифровые</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <p class="text-info mb-4 font-weight-bold">
                                Аксессуары
                            </p>
                            <ul class="list-unstyled">
                                <li><a href="#">Батарейки</a></li>
                                <li><a href="#">Вкладыши</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

{% block content %}
{% endblock content %}

<footer>
    <div class="container">
        <ul class="nav justify-content-center justify-content-lg-between align-items-center py-5">
            <li class="nav-item mb-4 mb-xl-0">
                <a href="/" class="navbar-brand">
                    <img src="{% static 'images/logo.png' %}" alt="">
                </a>
            </li>
            <li class="nav-item {% if request.path == '/' %}active{% else %}{% endif %} mr-5 ml-auto">
                <a href="{% url 'index' %}" class="nav-link text-body">О нас</a>
            </li>
            <li class="nav-item mr-5">
                <a href="#" class="nav-link text-body">Каталог</a>
            </li>
            <li class="nav-item {% if request.path == '/service/' %}active{% else %}{% endif %} mr-5">
                <a href="{% url 'service' %}" class="nav-link text-body">Услуги</a>
            </li>

            <li class="nav-item {% if request.path == '/center/' %}active{% else %}{% endif %}">
                <a href="{% url 'center' %}" class="nav-link text-body">Наш центр</a>
            </li>
        </ul>
    </div>
</footer>
<div class="modal fade" id="modalCall" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="card">
                <div class="card-body">
                    <form action="{{ request.path }}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="name">Имя</label>
                            <input id="name" type="text" name="name" class="form-control" placeholder="Введите Имя" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Телефон</label>
                            <input id="phone" type="tel" name="phone" class="form-control" placeholder="Введите Телефон" required>
                        </div>
                        <div class="form-group">
                            <label for="text">Текст</label>
                            <input id="text" type="text" name="message" class="form-control" placeholder="Введите текст">
                        </div>
                        <div class="form-group mt-4 pt-3">
                            <button type="submit" class="btn btn-success btn-block">
                                Записаться на приём
                            </button>
                        </div>
                        <p class="small text-center">
                            Отправляя данные, вы даёте согласие
                            на
                            <a href="#" class="text-success">обработку ваших персональных данных</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="loader" id="loader">
    <div class="loader-item">
        <div class="loader-circle"></div>
        <div class="loader-circle"></div>
        <div class="loader-circle"></div>
        <div class="loader-rectangle"></div>
    </div>
    <div class="mt-4 loader-text">
        Loading...
    </div>
</div>
<script src="{% static 'js/jQuery.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/forma.js' %}"></script>
<script src="{% static 'js/acardion.js' %}"></script>

<script>
    const moNavModal = document.querySelector('.mo-nav-modal');
    const modalMouseOver = e => {
        moNavModal.classList.add('mo-modal-visible');
    }
    window.addEventListener('click', e => {
        const TARGET = e.target;
        if (!TARGET.closest('.mo-nav-modal')) {
            moNavModal.classList.remove('mo-modal-visible');
        }
    })
</script>

</body>
</html>
