{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="banner">
    <div class="container container-sm container-md container-lg container-xl">
        <div class="row mt-4">
            <p  class="text-size ml-3">Наши центры</p>
        </div>
        <br>
        <div class="row  d-flex">


            <div class="col-md-4 col-sm-4 col-xs-12">
                <span class="props-name ml-2 mt-3 "><b>Адрес:</b></span>
                <div class="props-value ml-2 mb-3">Ташкент, Яккасарайский район, улица Бабура 40 В</div>

            </div>
            <br>

            <div class="col-md-3 col-sm-3 col-xs-12 ">
                <span class="props-name ml-2 mt-3"><b>Часы работы:</b></span>
                <div class="props-value ml-2 mb-3">Пн.–Пт. с 9:00 до 17:00<br>Сб. с 9:00 до 14:00<br>Вс. — выходной
                </div>

            </div>
            <br>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <span class="props-name ml-2 mt-3"><b>Телефон:</b></span>
                <div class="props-value ml-2 ">(+998 99) 8404536<br><sub>Предварительная запись</sub></div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-12 mt-3">
                <a href="{% url 'center_tashkent' %}" class="btn btn-outline-dark">
                    Подробнее
                </a>
            </div>
        </div>
        <hr style="border-bottom: black 0.5px solid;">
        <div class="row ">


            <div class="col-md-4 col-sm-4 col-xs-12 ">
                <span class="props-name ml-2 mt-3 "><b>Адрес:</b></span>
                <div class="props-value ml-2 mb-3">Мирзо-Улугбекский район, ул. Оккургон, 8</div>

            </div>
            <br>

            <div class="col-md-3 col-sm-3 col-xs-12 ">
                <span class="props-name ml-2 mt-3"><b>Часы работы:</b></span>
                <div class="props-value ml-2 mb-3">Пн.–Пт. с 9:00 до 17:00<br>Сб. с 9:00 до 14:00<br>Вс. — выходной
                </div>

            </div>
            <br>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <span class="props-name ml-2 mt-3"><b>Телефон:</b></span>
                <div class="props-value ml-2 ">(+998 95) 0084536<br><sub>Предварительная запись</sub></div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12 mt-3">
                <a href="{% url 'center_tashkent2' %}" class="btn btn-outline-dark">
                    Подробнее
                </a>
            </div>
        </div>
    </div>
</section>



<section class="mt-4">
    <div class="container">
        <div class="border-bottom py-5 px-3" style="border-color:#D7D7D7!important;">
            <div class="row align-items-center">
                <div class="col-12 mb-3 mb-xl-0 col-md-12 col-xl-4">
                    <ul class="nav justify-content-center justify-content-lg-start">
                        <li class="mr-2 nav-item">
                            <a href="https://www.facebook.com/radugazvukovuz/?ref=page_internal">
                                <img src="{% static 'images/facebook.png' %}" width="24" height="24" alt="">
                            </a>
                        </li>
                        <li class="mr-2 nav-item">
                            <a href="https://www.instagram.com/radugazvukovuz/">
                                <img src="{% static 'images/instagram.png' %}" width="24" height="24" alt="">
                            </a>
                        </li>
                        <li class="mr-2 nav-item">
                            <a href="https://t.me/radugazvukovuz">
                                <img src="{% static 'images/Telegram.svg' %}" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-6 col-xl-4 text-center">
                    <div class="d-flex">
                        <img class="mr-2" src="{% static 'images/icons/phone.svg' %}" alt="" />
                        <a href="tel:+998998404536" class="text-body">
                            <strong>
                                (+998 99) 840-45-36
                            </strong>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-xl-4 text-right">
                    <a href="#target" class="btn btn-outline-dark">
                        Мы вам перезвоним!
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}