{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load num_filter %}

<section class="bg-white border-bottom">
    <div class="container">
        <div class="row">
            <div class="col-12 col-xl-5">
                <img src="{{ product.img.url }}" class="img-fluid" alt="{{ product.name }}">
            </div>
            <div class="col-12 col-xl-7 py-4 d-flex flex-column justify-content-around">
                <h4 class="mb-4">
                    {{ product.name }}
                </h4>
                <p class="text-muted mb-4 f-18">
                    {{ product.description }}
                </p>
                <h4 class="mb-4">
                    Функции
                </h4>
                <ul class="text-muted f-18">
                    {% for funk in product.funcsi.all %}
                        <li>{{ funk }}</li>
                    {% endfor %}
                </ul>


                <div class="row align-items-center">
                    <div class="col-auto">
                        <p class="text-info f-22 mb-0">
                            {{ product.price|number_sep }} сум.
                        </p>
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-info py-2 px-5" data-toggle="modal"
                                data-target="#modalCall">
                            <span class="px-3">Заказать</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mb-5 bg-white pb-5">
    <div class="container">

        <div class="row">
            <!--<div class="col-12">-->
            <!--    <div class="card shadow-none card-info mb-4">-->
            <!--        <div class="card-header">-->
            <!--            Функции-->
            <!--        </div>-->
            <!--        <div class="card-body p-0">-->
            <!--            <div class="row">-->
            <!--                <div class="col-12 py-3 px-5 d-flex justify-content-between align-items-center">-->
            <!--                    <div>-->
            <!--                        Шумоподавление-->
            <!--                    </div>-->
            <!--                    <div>-->
            <!--                        <img src="{% static 'images/icons/check.svg' %}" class="ml-auto" alt="">-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="col-12 py-3 px-5 d-flex justify-content-between align-items-center">-->
            <!--                    <div>-->
            <!--                        Подавление обратной связи-->
            <!--                    </div>-->
            <!--                    <div>-->
            <!--                        <img src="{% static 'images/icons/check.svg' %}" class="ml-auto" alt="">-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="col-12 py-3 px-5 d-flex justify-content-between align-items-center">-->
            <!--                    <div>-->
            <!--                        Влагозащищенность-->
            <!--                    </div>-->
            <!--                    <div>-->
            <!--                        <img src="{% static 'images/icons/check.svg' %}" class="ml-auto" alt="">-->
            <!--                    </div>-->
            <!--                </div>-->


            <!--                <div class="col-12 py-3 px-5 d-flex justify-content-between align-items-center">-->
            <!--                    <div>-->
            <!--                        Нанопокрытие-->
            <!--                    </div>-->
            <!--                    <div>-->
            <!--                        <img src="{% static 'images/icons/check.svg' %}" class="ml-auto" alt="">-->
            <!--                    </div>-->
            <!--                </div>-->

            <!--            </div>-->
            <!--        </div>-->
            <!--    </div>-->
            <!--</div>-->
            <div class="col-12 mt-5">
                <div class="mo-card-group">
                    <div class="mo-card">
                        <div class="mo-card-header">
                            <h4>Характеристики модели</h4>
                            <button type="button">
                                <span class="mo-card-header-button-line"></span>
                            </button>
                        </div>
                        <div class="mo-card-body">
                            <hr>
                            <div class="card shadow-none card-info">
                                <div class="card-header">
                                    Все характеристики модели
                                </div>
                                <div class="card-body p-0">
                                    <div class="row">
                                        <div class="col-6 py-3">
                                            Производитель:
                                        </div>
                                        <div class="col-6 px-4 py-3">
                                            Исток Аудио
                                        </div>

                                        <div class="col-6 py-3">
                                            Тип корпуса:
                                        </div>
                                        <div class="col-6 px-4 py-3">
                                            Заушный
                                        </div>

                                        <div class="col-6 py-3">
                                            Уровень мощности:
                                        </div>
                                        <div class="col-6 px-4 py-3">
                                            Сверхмощный
                                        </div>

                                        <div class="col-6 py-3">
                                            Тип обработки сигнала:
                                        </div>
                                        <div class="col-6 px-4 py-3">
                                            Цифровой
                                        </div>

                                        <div class="col-6 py-3">
                                            Количество каналов:
                                        </div>
                                        <div class="col-6 px-4 py-3">
                                            20
                                        </div>
                                        <div class="col-6 py-3">
                                            Максимальное акустическое усиление*, (дБ)
                                        </div>
                                        <div class="col-6 px-4 py-3">
                                            82
                                        </div>
                                        <div class="col-6 py-3">
                                            Максимальный ВУЗД90**,(дБ)
                                        </div>
                                        <div class="col-6 px-4 py-3">
                                            142
                                        </div>
                                        <div class="col-6 py-3">
                                            Батарейка
                                        </div>
                                        <div class="col-6 px-4 py-3">
                                            675
                                        </div>
                                        <div class="col-6 py-3">
                                            Количество программ прослушивания
                                        </div>
                                        <div class="col-6 px-4 py-3">
                                            6
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mo-card">
                        <div class="mo-card-header">
                            <h4>Дополнительно</h4>
                            <button type="button">
                                <span class="mo-card-header-button-line"></span>
                            </button>
                        </div>
                        <div class="mo-card-body">
                            <hr>
                            <p>
                                Брошюра по уходу за слуховым аппаратом:
                            </p>
                            <div>
                                <img src="{% static 'images/icons/adobe.svg' %}" alt="">
                            </div>
                            <div class="py-3">
                                <a href="#" class="text-info">Скачать</a>
                            </div>
                        </div>
                    </div>
                    <div class="mo-card">
                        <div class="mo-card-header">
                            <h4>Отзывы</h4>
                            <button type="button">
                                <span class="mo-card-header-button-line"></span>
                            </button>
                        </div>
                        <div class="mo-card-body">
                            <hr>
                            <div class="mb-4">
                                <p>Siya 2 BTE 13 PP</p>
                                <p class="text-muted">
                                    Считаю, что на слуховом аппарате экономить нельзя. Это же мои вторые уши. Только работающие!
                                    Поэтому я придирчиво подбирал новую модель, взамен старым. Выбирал из линейки датской компании
                                    Отикон, так как уже убедился в их качестве и надежности. Модель Siya 2 BTE 13 PP меня полностью
                                    устроила по цене и по возможностям.
                                    Это цифровой слуховой аппарат, очень мощный и достаточно функциональный. По крайней мере, для
                                    меня в нем есть все, что надо. Надеюсь, что прослужит как можно дольше.
                                </p>
                                <p class="text-muted">
                                    28.02.2022
                                </p>
                            </div>
                            <hr>
                            <div class="pt-2">
                                <p>Благодарность коллективу «Радуги звуков» и лично Татьяне Александровне</p>
                                <p class="text-muted">
                                    Я, Куликова Раиса Алексеевна, и мой муж, Куделькин Анатолий Павлович, выражаем глубокую
                                    благодарность коллективу «Радуги звуков» и лично Татьяне Александровне за безупречное, грамотное
                                    обслуживание, за доброжелательное, теплое отношение к пациентам.
                                </p>
                                <p class="text-muted">
                                    30.11.2021
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="mt-4">
    <div class="container">
        <div class="border-bottom py-5 px-3" style="border-color:#D7D7D7!important;">
            <div class="row align-items-center">
                <div class="col-12 mb-3 mb-xl-0 col-md-12 col-xl-4">
                    <ul class="nav justify-content-center justify-content-lg-start">
                        <li class="mr-2 nav-item">
                            <a href="https://www.facebook.com/radugazvukovuz/?ref=page_internal">
                                <img src="{% static 'images/facebook.png' %}" width="24" height="24" alt="">
                            </a>
                        </li>
                        <li class="mr-2 nav-item">
                            <a href="https://www.instagram.com/radugazvukovuz/">
                                <img src="{% static 'images/instagram.png' %}" width="24" height="24" alt="">
                            </a>
                        </li>
                        <li class="mr-2 nav-item">
                            <a href="https://t.me/radugazvukovuz">
                                <img src="{% static 'images/Telegram.svg' %}" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 col-md-6 col-xl-4 text-center">
                    <div class="d-flex">
                        <img class="mr-2" src="{% static 'images/icons/phone.svg' %}" alt=""/>
                        <a href="tel:+998998404536" class="text-body">
                            <strong>
                                (+998 99) 840-45-36
                            </strong>
                        </a>
                    </div>
                </div>
                <div class="col-6 col-md-6 col-xl-4 text-right">
                    <a href="#" class="btn btn-outline-dark">
                        Мы вам перезвоним!
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock content %}


{% include "include/footer.html" %}